<div class="container mt-4">
  <h2>Consult Create Sales Orders</h2>
  <form [formGroup]="dateCreateFG" >
    <div class="row">
      <div class="col-md-3 mb-3">
        <label class="form-label">Creation Date From</label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate">
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label">Creation Date To</label>
        <input type="date" class="form-control" id="endDate" formControlName="endDate">
      </div>
      <!-- <div *ngIf="dateCreateFG.get('invalidDate')?.hasError">
        La fecha de inicio no puede ser posterior a la fecha de fin.
      </div> -->

      <div class="col-md-3 mb-3">
        <button type="button" class="btn btn-primary" (click)="searchCreateSales()">Search Sales</button>
      </div>
    </div>
  </form>

  <div class="col-md-12 mt-4">
    <h4>Details Sales</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of orderSales; let i = index" >
          <td>{{ data.orderSalesID }}</td>
          <td class="text-end ">
            <button class="btn btn-danger" (click)="canceledOrder(data.orderSalesID)">Cancel Order</button>
          </td>
          <td class="text-end">
            <button class="btn btn-info" (click)="viewOrderModal(data.orderSalesID)">View Order</button>
          </td>
        </tr>

      </tbody>
    </table>

  </div>


  <h2>Consult Cancellation Sales Orders</h2>
  <form >
    <div class="row">
      <div class=" col-md-3 mb-3">
        <label  class="form-label">Cancellation Date From</label>
        <input type="date" class="form-control" id="cancellationDateFrom" name="cancellationDateFrom">
      </div>

      <div class="col-md-3 mb-3">
        <label  class="form-label">Cancellation Date To</label>
        <input type="date" class="form-control" id="cancellationDateTo" name="cancellationDateTo">
      </div>

      <div class="col-md-3 mb-3">
        <button type="button" class="btn btn-primary" (click)="searchCancelSales()">Search Canceled Sales</button>
      </div>
    </div>
  </form>

  <div class="col-md-12 mt-4">
    <h4>Details Sales</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of canceledSales; let i = index" >
          <td>{{ data.orderSalesID }}</td>
          <td class="text-end">
            <button class="btn btn-info" (click)="viewOrderModal(data.orderSalesID)">View Order</button>
          </td>
        </tr>

      </tbody>
    </table>

  </div>





</div>