<div class="container col-md-20 mt-4">
  <h2>Create Sales Order</h2>
  <form [formGroup]="newOrderForm" (ngSubmit)="verifyNewOrder()">
    <div class="row">
      <div class="col-md-3 mb-3">
        <label class="form-label">Customer Name</label>
        <input type="text" id="customerName" class="form-control" formControlName="customerName" />
        <div class="text-danger" *ngIf="newOrderForm.get('customerName')?.hasError('required')">
          The name is required.
        </div>
        <div class="text-danger" *ngIf="newOrderForm.get('customerName')?.hasError('pattern')">
          Only text.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label">Item Name</label>
        <input type="text" class="form-control" id="itemName" formControlName="itemName" required>
        <div class="text-danger" *ngIf="newOrderForm.get('itemName')?.hasError('required')">
          The Item name is required.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label">Item Price</label>
        <input type="number" class="form-control" id="itemPrice" formControlName="itemPrice" required>
        <div class="text-danger" *ngIf="newOrderForm.get('itemPrice')?.hasError('required')">
          The field is required.
        </div>
      </div>
      <div class=" col-md-3 mb-3">
        <label class="form-label">Item Quantity</label>
        <input type="number" class="form-control" id="amountItem" 
        formControlName="amountItem" required>
        <div class="text-danger" *ngIf="newOrderForm.get('amountItem')?.hasError('required')">
          The field is required.
        </div>
        <div class="text-danger" *ngIf="newOrderForm.get('amountItem')?.hasError('pattern')">
          Only numbers.
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="newOrderForm.invalid" class="btn btn-primary">Create Order</button>
  </form>
  <div class="container mt-4">
    <h2>Details of Purchased Items</h2>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Creation Date</th>
          <th>Cancellation Date</th>
          <th>Customer Name</th>
          <th>Item Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Subtotal</th>
          <th>VAT</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of orderSales">
            <td>{{ data.orderSalesID }}</td>
            <td>{{ data.dateCreate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ data.dateCancellation  }}</td>
            <td>{{ data.nameCustomer }}</td>
            <td>{{ data.itemsPurchased.nameItem }}</td>
            <td>{{ data.itemsPurchased.priceItem | currency }}</td>
            <td>{{ data.itemsPurchased.amountItem }}</td>
            <td>{{ data.subtotal | currency }}</td>
            <td>{{ data.vat | currency }}</td>
            <td>{{ data.total | currency }}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>