<div class="col-md-12 mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Creation Date</th>
          <th>Cancellation Date</th>
          <th>Customer Name</th>
          <th>Item Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Subtotal</th>
          <th>VAT</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let articulo of ordenVentaService.ordenVenta.articulos">
            <td>{{ articulo.nombre }}</td>
            <td>{{ articulo.precio | currency }}</td>
            <td>{{ articulo.cantidad }}</td>
            <td>{{ (articulo.precio * articulo.cantidad) | currency }}</td>
            <td>{{ ((articulo.precio * articulo.cantidad) * 0.16) | currency }}</td>
            <td>{{ ((articulo.precio * articulo.cantidad) * 1.16) | currency }}</td> 
          </tr> -->
      </tbody>
    </table>
  </div>